.sliderContainer{
    display: grid;
    align-items: center;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 2fr 2fr 4fr;
    width: 100%;
    height: 90vh;
    margin: auto;
    position: relative;
}
.illustContainer{
    width: 100%;
   height: 100%;
    grid-column: 1/4;
    grid-row: 1/3;
}
.illustContainer img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.sliderPhrase{
    grid-column: 1/4;
    grid-row: 3/4;
    width: 90%;
    margin: 0 auto;
    border-radius: 1rem;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
    align-items: center;
}
div:has(.sliderPhrase){
    grid-column: 1/4;
    grid-row: 3/4;
}
.sliderPhrase p{
    font-size: 15px;
    font-weight: 600;
    padding: 0.5rem 1rem;
    width: 90%;
    height: 100%;
    margin: auto;
    text-align: center;
    
}
.nextButton{
grid-column: 3/4;
grid-row: 2/3;
}
.previousButton{
grid-column: 1/2;
grid-row: 2/3;
}
.sliderButtons button{
    background: rgb(175, 26, 26);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 1rem;
    width: 100%;
    max-width: 50px;
    height: 100%;
    max-height: 50px;
    margin: auto;
}

@media (min-width:801px)  {
    .sliderContainer{
        grid-template-columns: 4% 46% 46% 4%;
        grid-template-rows:  46% 4% 4% 46%;
    }
    .illustContainer{
        grid-column: 3/5;
        grid-row: 1/5;
    }
    
    .nextButton{
        grid-column: 4/5;
        grid-row: 2/4;
    }
    .previousButton{
        grid-column: 1/2;
        grid-row: 2/4;
    }
    div:has(.sliderPhrase){
        grid-column: 1/3;
        grid-row: 1/5;
    }
}

@media (min-width:1281px)  {
    .sliderPhrase p{
        font-size: 2.5rem;
    }
    
}

